@model MyELearningProject.DAL.Entities.Course
@{
    ViewBag.Title = "UpdateCourse";
    Layout = "~/Views/Shared/_instructorLayout.cshtml";
}




<h2>Kurs Bilgileri Güncelle</h2>

<form method="post">
    @Html.HiddenFor(x => x.courseID)
    <label>Kurs Adı</label>
    @Html.TextBoxFor(x => x.tittle, new { @class = "form-control" })
    <br />
    <label>Kurs Bilgi</label>
    @Html.TextBoxFor(x => x.tittle, new { @class = "form-control" })
    <br />
    <label>Kurs Fiyat</label>
    @Html.TextBoxFor(x => x.price, new { @class = "form-control" })
    <br />
    <label>Kurs Süre</label>
    @Html.TextBoxFor(x => x.duration, new { @class = "form-control" })
    <br />
    <label>Kurs Görsel URL</label>
    @Html.TextBoxFor(x => x.imageUrl, new { @class = "form-control" })
    <br />
    <label>Kategoriler</label>
    @Html.DropDownListFor(x => x.categoryID, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
    <br />
    <label>Eğitmenler</label>
    @Html.DropDownListFor(x => x.instructorID, (List<SelectListItem>)ViewBag.instructors, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-primary">Kaydet</button>
</form>

